<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>
            <div class="main-body">
                {{>header}}
                <p>This application was created by A Sandhu. It uses data from MapBox and Darksky APIs.</p>
                <img class="portrait" src="/img/robo.png">

            </div>
            
            {{>footer}}
        </body>
    
</html>